
*{
    margin: 0;
    padding: 0;
    font-family:"Poppins";
}

.main_box{
    background-image: url("photo.jpg");
    height: 100vh;
    background-size:cover;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    left: 16px;
    position: absolute;
    line-height: 60px;
}
.sidebar_menu .btn_two{
    color:grey;
    font-size: 30px;
    font-weight: 700;
    top: 3px;
    left: 265px;
    position: absolute;
    line-height: 60px;
    /* opacity: 0; */

}

.sidebar_menu{
    position:fixed;
    left:-300px;
    height:100vh;
    width:300px;
    background-color: rgba( 255,255,255, 0.1);
    box-shadow:0 2px 2px rgba( 255,255,255, 0.8  );
    transition: all 0.3s linear;

}
.sidebar_menu .logo{
    position: fixed;
    line-height: 60px;
    height: 60px;
    width:300px;  
    box-shadow:0 2px 2px rgba( 255,255,255, 0.5  );

}
.sidebar_menu .logo a{
    position: absolute;
    left:50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 70px;
}

.sidebar_menu .menu li{
    margin-top: 3px;
    padding: 14px 20px ;
}
.sidebar_menu .menu i,a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    color: white;
    position: absolute;
    left: 20%;
    bottom: 25px;
    cursor: pointer;
}
.sidebar_menu .social_media i{
    padding: 0 2px;
    color: white;
    opacity: 0.5;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
     box-shadow:0 0 2px rgba( 255,255,255, 0.5  );
}
.sidebar_menu .btn_two i:hover{
    cursor: pointer;
    font-size: 35px;

}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
.btn_one i:hover{
     font-size: 33px;
     cursor: pointer; 
    

}
#check:checked ~ .sidebar_menu{
    left:0;
}


