
*{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding:0.5rem;
    background-color: #000;

}
.sidebar{
   border-radius: 1rem;
    width: 340px;
    background-color: #000;
    margin-right: 0.5rem;
}
.main-content{
    flex:1;
    border-radius: 1rem;
    overflow: auto;
    background-color: #121212;
    padding: 0 1.5rem 0 1.5rem;
}


.music-player{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
    background-color: #000;
}
a{
text-decoration: none;
    color: #fff;
}
.nav{
    
    border-radius: 1rem;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    height:100px;
    padding:0.5rem 0.75rem;
    background-color: #121212;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.7rem;
}
.nav-option i{
    font-size: 1.25;
}
.nav-option a{
    font-size: 1rem;
}
.nav-option:hover{
    
    opacity: 1;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding:0.5rem 0.75rem;

}
.options{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem; 
    margin-right: 0.8rem;
}

.icons{
    font-size: 1.25rem ;
   
    display: flex;
}
.icons i {
    opacity:0.7;
    margin-right:  1rem;
}
.icons i:hover {
    opacity:1;
    
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 0.75rem 0;
    padding:0.75rem 1rem;
   
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.88;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    color: #000;
    font-weight: 700;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav{
    position: sticky;
    top:0;
    background-color: #121212;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons {
    margin-left:0.75rem ;

}
.sticky-nav-options{
   display:flex;
   justify-content:center;
   align-items: center;
}
 .nav-item{
    margin-right: 1rem;
}
.dark-badge{
    background-color: #000;
    color: #fff;
}
@media (max-width: 1000px){
    .hide{
        display: none;
    }
    
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    
    
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding:1rem;
    margin: 1.2rem;
    
}
.card-img{
    width:150px;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.6;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    background-color: aqua;
}
.player{
    width: 50%;
   
}
.controls{
    width:25%;
    background-color: red;
}
.player-controls{
     display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-left: 1.5rem;
    opacity: 0.7;
}
.player-control-icon:hover{
   opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}
.progress-bar{
    width:70%;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
     overflow: visible; /* allow thumb to overflow outside */
    
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius:100px;
    height: 0.3rem;
   
    
  
}
.progress-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
   
   

}
 


